html, body, header, figure {
	margin: 0;
	word-wrap: break-word;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
html {
	background-color: #FFEFD5;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}
main {
	max-width: 100vh;
	width: 85%;
	margin: auto;
	margin-top: 10px;
}
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}
p, code, li {
    font-size: 1.0625rem;
}
button {
	background-color: royalblue;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
}
nav, footer ul {
	display: flex;
	border-top: 5px #FFA500 dashed;
	border-bottom: 5px #FFA500 dashed;
}
nav ul li {
	display: inline-block;
	padding-left: 10px;
}
ul {
	list-style-type: none;
}
h1 {
	font-size: 2rem;
}
.social_interaction, .webmention {
	border: 1px solid lightgray;
	border-radius: 10px;
	background: white;
	padding: 30px;
}
.social_interaction {
	margin-bottom: 10px;
}
@media screen and (max-width: 900px) {
	.main-photo {
		float: none !important;
		margin-left: 0;
	}
	.flex_left_home, .flex_right_home {
		flex: 0 100%;
	}

	.blog img, .flex_right_home {
		margin-left: 0 !important;
	}

	nav li {
		margin-bottom: 10px;
	}
}
input {
	min-width: 50%;
	text-align: center;
	box-sizing: border-box;
}
h2, h1, h3 {
	color: royalblue;
}
details {
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	display: inline;
	border: 3px dashed orange;
}
summary {
	padding-top: 5px;
}
details > p {
	margin-bottom: 0px;
}
a {
	color: #006BD6;
	border-bottom: 2px dotted #006BD6;
}
p, li, h1, h2, h3 {
	line-height: 1.5em;
}
.e-content, .other-posts, .webmention {
	max-width: 35em;
	margin: auto;
	margin-bottom: 10px;
}
a:focus {
  background-color: #006BD6;
  color: white;
  outline: lightblue 2px;
  border-bottom: 2px dotted black;
}

input[type="text"]:focus, input[type="number"]:focus, textarea:focus, input[type="text"]:focus, input[type="username"]:focus, input[type="password"]:focus {
  outline: 3px solid royalblue;
}

button:focus {
  background-color: yellow;
  color: black;
  outline: 3px royalblue solid;
}

a:hover {
  color: #0000CD;
}
input[type="text"], input[type="url"], input[type="number"], textarea {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
    text-align: left;
	min-width: 50%;
    font-size: 1.0625rem;
}
input[type="text"], input[type="url"] {
	width: 100%;
}
input[type="submit"] {
    padding: 10px;
	margin-top: 10px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    min-width: 0 !important;
    appearance: none;
    font-size: 1.1875rem;
}
section ul {
    list-style-type: disc;
}
select, input {
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
}
table {
    text-align: left;
    table-layout: fixed;
    width: 100%;
}
td, th {
    padding: 10px;
}
@media print {
	html {
		background-color: white;
	}
	body {
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}
	nav, footer, .accessibility_label, .print_message, .announcement {
		display: none;
	}
	h1, h2, h3 {
		color: black !important;
	}
	a:after {
		content: "(" attr(href) ")";
		display: inline-block;
		width: auto;
		text-decoration: none;
		margin-left: 0.3em;
		font-style: italic;
	} 
	main:after {
		content: "Published on James' CoffeePot (coffeepot.jamesg.blog).";
		font-style: italic;
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 750px) {
	.special-image img, .blogList img, .not_found img {
		width: 100% !important;
	}
}

/* Reponsive table code below from https://allthingssmitty.com/2016/10/03/responsive-table-layout/ */
@media screen and (max-width: 900px) {
	table thead {
		border: none;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}

	table tr {
		border-bottom: 1px solid #ddd;
		display: block;
	}

	table td {
		border-bottom: 1px solid #ddd;
		display: block;
		text-align: right;
	}

	table td::before {
		content: attr(data-label);
		float: left;
	}
}